{{ define "main" }}
    <!-- About Page -->
    <section class="about-minimal">
        <div class="about-container">
            <!-- Photo -->
            <div class="about-photo">
                <img src="/images/aboutme.jpg" alt="Matt Simpson">
            </div>

            <!-- Story -->
            <div class="about-story">
                <p>My name is Matt Simpson and I've been a professional photographer for over 10 years. I've worked with small businesses to big, bad ass brands. I've shot celebrity chefs and hometown heroes. While most people know me as a food and beverage photographer, this site represents my shift towards editorial photography with a focus on portrait work, documentary, and fine art.</p>
                
                <p>You'll also find my collection of photography for hire services, of course. Galleries that represent my work in event photography, weddings, commercial, branding, and professional headshots.</p>
                
                <p>If you have a need for a photographer who can work in a multitude of genres, I'd love to help.</p>
            </div>

            <!-- Separator -->
            <div class="about-separator"></div>

            <!-- Links -->
            <div class="about-links">
                <a href="https://www.linkedin.com/in/matt-simpson-2238771b8/" target="_blank" class="about-link">
                    <span class="link-label">LinkedIn</span>
                </a>
                
                <a href="https://instagram.com/mattsimpsonphoto" target="_blank" class="about-link">
                    <span class="link-label">Instagram</span>
                    <span class="link-detail">@mattsimpsonphoto</span>
                </a>
                
                <a href="https://hardsearstudio.com" target="_blank" class="about-link">
                    <span class="link-label">Food Photography</span>
                    <span class="link-detail">hardsearstudio.com</span>
                </a>
                
                <a href="https://meaganjordanphotography.com" target="_blank" class="about-link">
                    <span class="link-label">Wedding Photography</span>
                    <span class="link-detail">meaganjordanphotography.com</span>
                </a>
                
                <a href="mailto:matt@mattsimpsonmedia.com" class="about-link">
                    <span class="link-label">Email</span>
                    <span class="link-detail">matt@mattsimpsonmedia.com</span>
                </a>
                
                <a href="https://letterboxd.com/mattonawire" target="_blank" class="about-link">
                    <span class="link-label">Letterboxd</span>
                    <span class="link-detail">mattonawire</span>
                </a>
            </div>
        </div>
    </section>
{{ end }}
